  :root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: hsl(205, 78%, 60%);
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(130, 73%, 35%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
      Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--clr-grey-10);
    color: hsl(209, 61%, 16%);
    line-height: 1.5;
    font-size: 0.72rem;
  }

  h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 0.75rem;
  }
  .single-tour {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    border: 4px solid #eee;
    color: rgb(3, 87, 87);
    background: #fff;
    align-self: stretch;
  }

  .single-tour:hover {
    box-shadow: 5px 5px grey;
    transition: 0.5s ease-in-out;
  }

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.5rem;
    align-self: stretch;
  }
  
  .cdp {
    display: inline-block;
    color: #fff;
    background: teal;
    font-weight: bolder ;
    padding: 16px;
    text-decoration: none;
    border: 2px solid teal;
    margin: 12px;
  }

  .cdp:hover {
    color: teal;
    background: #fff;
    transition: 0.5s ease-in-out;
  }

  .page{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .pagination {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .pagination li {
    display: inline-block;
  }

  .search-container {
    width: 100%;
    height: auto;
    background: teal;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
  }

  .search-bar {
    border-radius: 5px;
  }

  .profile {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 0;
  }

@media all and (max-width: 500px) {
  .single-tour {
    width: 80%;

  }

  .search-bar {
    width: 80% !important;
  }

  .container {
    grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  }

  .search-container {
    width: 100%;
  }
}

@media all and (max-width: 300px) {
  .single-tour {
    overflow-x: scroll;
    width: 80%;

  }
}